<document>
   <productTemplate>
      <background>
      </background>
      <banner>
         <infoList>
            <info>
               <header>
                  <title>Director</title>
               </header>
               <text>John Appleseed</text>
            </info>
            <info>
               <header>
                  <title>Actors</title>
               </header>
               <text>Anne Johnson</text>
               <text>Tom Clark</text>
               <text>Maria Ruiz</text>
            </info>
         </infoList>
         <stack>
            <title>WWDC Road Trip</title>
            <row>
               <text><badge src="resource://tomato-fresh"/> 99%</text>
               <text>1hr 54min</text>
               <text>Comedy</text>
               <text>2015</text>
               <badge src="resource://mpaa-pg" class="badge" />
               <badge src="resource://cc" class="badge" />
            </row>
            <description handlesOverflow ="true">An aspiring developer gets a ticket to WWDC, but can't afford to fly there. Now he needs to get across country in time for the keynote, and the only person who can help him is his slacker roommate.</description>
            <text>Language information can go here</text>
            <row>
               <buttonLockup>
                  <badge src="resource://button-preview" />
                  <title>Preview</title>
               </buttonLockup>
               <buttonLockup type="buy">
                  <text>$9.99</text>
                  <title>Buy</title>
               </buttonLockup>
            </row>
         </stack>
         <heroImg src="path to images on your server/Car_Movie_720x1080.png" />
      </banner>
  </productTemplate>
</document>