<document>
    <formTemplate>
        <background>
          <img src="{{eluvio_background}}"/>
      </background>
        <banner>
            <title >Welcome!</title>
            <title>Enter code for access</title>
        </banner>
        <textField id="redeemField"></textField>
        <footer>
            <row style="tv-align:center; tv-interitem-spacing:300">
                <button id="redeemSubmit" style="tv-align:center">
                    <text>Submit</text>
                </button>            
                <button id="network" onselect="loadNetworksForm()" style="margin:200;tv-align:right;width:150">
                    <badge src="resource://button-more"/>
                </button>
            </row>
        </footer>
    </formTemplate>
</document>