<?xml version="1.0" encoding="UTF-8" ?>
<document>
    <listTemplate>
        <background>
            <img src="{{eluvio_background}}"/>
        </background>
      <list>
         <section>
            <listItemLockup onselect="loadRedeemForm()">
                <decorationImage src="resource://button-more" />
                <title>Redeem Site Code</title>
                <relatedContent>
                    <lockup>
                        <img src="" height="1000" />
                        <title>Redeem Site Code</title>
                        <description>If you have an access code, enter it here to load the Site.</description>
                    </lockup>
                </relatedContent>
            </listItemLockup>

            <listItemLockup onselect="loadView('networks.hbs')">
                <decorationImage src="resource://button-more" />
                <title>Choose Network ({{network}})</title>
                <relatedContent>
                    <lockup>
                        <img src="" height="1000"/>
                        <title>Choose Network</title>
                        <description>Use this option to switch Fabric networks.</description>
                    </lockup>
                </relatedContent>
            </listItemLockup>

            <listItemLockup onselect="loadView('sites.hbs')">
                <decorationImage src="resource://button-preview" />
                <title>Available Sites</title>
                <relatedContent>
                    <lockup>
                        <img src="" height="1000" />
                        <title>Available Sites</title>
                        <description>Use this option to view sites you have access to.</description>
                    </lockup>
                </relatedContent>
            </listItemLockup>
         </section>
      </list>
    </listTemplate>
</document>