<?xml version="1.0" encoding="UTF-8" ?>
<document>
  <paradeTemplate>
      <background>
          <img src="{{eluvio_background}}"/>
      </background>
      <list >
         <header>
            <title>Choose Network</title>
         </header>
         <section>
            {{#each networks}}
              <listItemLockup onselect="loadNetwork('{{this}}')">
                {{#ifeq this @root/network}}
                  <decorationImage src="resource://button-checkmark" />
                {{/ifeq}}
                {{#ifnoteq this @root/network}}
                  <decorationImage src="resource://button-more" />
                {{/ifnoteq}}
                  <title>{{this}}</title>
              </listItemLockup>
            {{/each}}
         </section>
      </list>
  </paradeTemplate>
</document>