<?xml version="1.0" encoding="UTF-8" ?>
<document>
<menuBarTemplate>
        <row style="margin:20" >
            <img style="tv-content-align:top; tv-align:left" contentsMode="aspectFit" src="{{title_logo}}" width="500" height="120" />
        </row>
        <menuBar>
            <menuItem id="navigation_top_watch" documentURL="redeemwatch.hbs/{{network}}/{{code}}" autoHighlight="true">
                <title>Watch</title>
            </menuItem>
            <menuItem id="navigation_settings" documentURL="settings.hbs">
                <title>Settings</title>
            </menuItem>
        </menuBar>
    <row style="margin:50" />
</menuBarTemplate>
<div id="site_info" data-value='{{site_info}}'/>
</document>