<document>
    <formTemplate>
        <background>
          <img src="{{eluvio_background}}"/>
      </background>
        <banner>
            <title >Enter code for access</title>
        </banner>
        <textField id="redeemField"></textField>
        <footer>
            <button id="redeemSubmit">
                <text>Submit</text>
            </button>
        </footer>
    </formTemplate>
</document>