<document>
    <formTemplate>
        <banner>
            <img src="{{eluvio_logo}}" width="800" height="400"/>
            <description>Enter code for access</description>
        </banner>
        <textField id="redeemField"></textField>
        <footer>
            <button id="redeemSubmit">
                <text>Submit</text>
            </button>
        </footer>
    </formTemplate>
</document>